<div class="max-w-xl mx-auto py-5">
    <div class="absolute inset-0 -z-10 opacity-50">
        <img src="/images/bg.jpg" class="w-full h-full" alt="Background">
    </div>

    <div class="max-w-sm mx-auto rounded bg-white p-7">
        <h1 class="text-slate-800 font-bold block mb-3 text-3xl">Masuk atau daftar dalam sekejap</h1>
        <p class="text-slate-600 block mb-4">Gunakan akun google untuk melanjutkan dengan Peacebook!</p>
        <form action="/google" method="post">
        <button class="py-3 px-4 w-full bg-slate-50 text-slate-600 flex items-center justify-center hover:bg-slate-100 font-medium focus:ring-slate-100 focus:ring-offset-1 transition  focus:ring-1">
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" height="24" width="24"><path fill="#4285f4" d="M386 400c45-42 65-112 53-179H260v74h102c-4 24-18 44-38 57z"></path><path fill="#34a853" d="M90 341a192 192 0 0 0 296 59l-62-48c-53 35-141 22-171-60z"></path><path fill="#fbbc02" d="M153 292c-8-25-8-48 0-73l-63-49c-23 46-30 111 0 171z"></path><path fill="#ea4335" d="M153 219c22-69 116-109 179-50l55-54c-78-75-230-72-297 55z"></path></svg>
            </span>
            <span class="flex flex-1 justify-center">Lanjutan dengan Google</span>
        </button>
        </form>
    </div>
</div>