<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/tailwind.output.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,400&display=swap" rel="stylesheet">

    <title>{{ title }}</title>
</head>

<body class="relative">

    {{> navbar}}

    {{#if successMessage}}

    {{/if}}

    <div class="max-w-6xl min-h-screen mx-auto px-4 sm:px-6 lg:px-8 my-5">
        {{{ body }}}
    </div>

    <footer class="py-7">
        <p class="text-center text-white font-semibold">&copy; Copyright 2022, All Right Reserved.</p>
    </footer>

</body>

</html>