{{> head }}

<body class="relative">

    {{> navbar}}


    {{#if successMessage}}

    {{/if}}

    <div class="max-w-6xl min-h-screen mx-auto px-4 sm:px-6 lg:px-8 my-5">
        {{{ body }}}
    </div>

    <footer class="py-7">
        <p class="text-center text-slate-800">&copy; Copyright 2022, All Right Reserved.</p>
    </footer>

    {{> scripts }}

</body>

</html>