{{> head }}

<body class="relative bg-slate-50">

    {{> navbar}}

    {{> body}}

    <footer class="py-7">
        <p class="text-center text-slate-800">&copy; Copyright 2022, All Right Reserved.</p>
    </footer>

    {{> scripts }}

</body>

</html>