{{> head }}

<body class="relative">

    {{> navbar}}

    {{> body}}

    <footer class="py-7">
        <p class="text-center text-white font-semibold">&copy; Copyright 2022, All Right Reserved.</p>
    </footer>

    {{> scripts }}
</body>

</html>